h1 Settings
<div ng-bind-html="flash"></div>
h2 User
form(action='/users' method='update')
	div(class="container-fluid")
		div(class="row")
				label(for='current_password') Current password:
				input(type='password', name='current_password')
	
	label(for='new_password') New password:
	input(type='password', name='new_password')
	br
	label(for='confirm_new_password') Confirm password:
	input(type='password', name='confirm_new_password')
	br
	button(class='#{css.button_class}', type="submit") Update user

h2 Servers
form(ng-submit='processAddMinerForm()')
	label(for='ip') IP:
	input(type='text', name='ip', ng-model='addMinerForm.ip')
	br
	label(for='port') Port:
	input(type='text', name='port', ng-model='addMinerForm.port')
	br
	button(class='#{css.button_class}', type='submit') Add

