doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/javascripts/bootstrap.js')
	body
		div(class="container-fluid")
			div(class="row")
				div(class="col-md-1")
					p hello sidebar
				div(class="col-md-11")
					block content

